$color-dark-gold: darkgoldenrod;
$color-yellow-1: #ffd70080;
$color-yellow-2: #cccc0080;
$color-yellow-3: rgba(255, 238, 0, 0.836);

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// FONT
$default-font-size: 1.6rem;
$bigger-font-size: 3.5rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;