.header {
    height: 95vh;
    /*
    background-image: url(../img/backgroundimg2.jpg);
    */
    background-image: linear-gradient(
        to right bottom,
        rgba($color-yellow-1, 0.5),
        rgba($color-yellow-2, 0.5)),
        url(../img/backgroundimg2.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    
    clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    
        width: 65rem;
    }
    

}